.wrapper {
  position: relative;
  background: #636363;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.wrapper img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -10px;
  height: 65em;
}

.circle-outer {
  width: 1400px;
  height: 1400px;
  border: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -700px;
  top: 50%;
  margin-top: -700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-inner {
  width: 800px;
  height: 800px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: inherit;
}

.landing {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  display: flex;
  box-shadow: inset 0 0 300px black;
  background: radial-gradient(circle, rgba(62, 62, 62, 0) 0%, black 100%);
}

aside {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 1000px;
}

.disc {
  height: 80px;
  background-color: #ee5454;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

aside nav {
  display: flex;
  justify-content: center;
  height: inherit;
  padding: 4em 0;
  box-sizing: border-box;
}

aside nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside nav ul li {
  color: #fff;
  list-style-type: none;
  position: relative;
}

aside nav ul .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside nav ul .scroll li:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  top: 20px;
}

aside nav ul .scroll li:last-child {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  transform: rotate(-90deg);
  top: 60px;
}

aside nav ul .social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside nav ul .social li {
  margin-top: 50px;
}
aside nav ul .social li a {
  color: #fff;
}

.top {
  width: 100%;
}

.top header {
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.top header h1 {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  text-transform: capitalize;
}

.top header nav ul li {
  float: left;
  margin: 0 5em;
}
.top header nav ul li a {
  color: #fff;
  font-size: 1.5em;
}

.content {
  position: relative;
  width: inherit;
  color: #fff;
  display: flex;
}

.features {
  font-family: 'Mada', sans-serif;
  width: 25%;
  height: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 80px;
}

.feature {
  width: 200px;
  transform: rotate(-90deg);
  transform-origin: bottom;
}

.feature span {
  display: block;
  margin-bottom: 20px;
  height: 2px;
  width: 20px;
  background-color: #ee5454;
  position: absolute;
  bottom: 50px;
}

.feature:nth-child(2) span {
  height: 50px;
}

.wrap {
  overflow: hidden;
}

.wrap h1 {
  font-size: 15px;
  margin-bottom: 4px;
}

.wrap p {
  font-size: 10px;
  line-height: 1.5em;
  color: #a8a8a8;
}

.theme {
  width: 40%;
  margin-right: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 140px;
}

.theme h2 {
  text-transform: uppercase;
  color: #ee5454;
  font-size: 1.5em;
  align-self: flex-start;
  overflow: hidden;
  /* position: relative;
  right: 20px; */
}

.theme h2 .wrap {
  position: relative;
}
.theme h2 .wrap span {
  font-size: 2em;
  font-weight: 400;
  margin: 0 10px;
  color: #fff;
  position: relative;
  top: 5px;
}

.theme h1 {
  text-transform: capitalize;
  font-size: 10em;
  font-weight: 200;
  overflow: hidden;
}
.theme h1 .wrap {
  position: relative;
}

.theme p {
  text-transform: capitalize;
  font-style: italic;
  font-size: 2.6em;
  font-weight: 200;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  display: flex;
  align-self: flex-end;
  overflow: hidden;
  padding: 2px 20px;
}

.bar {
  width: 500px;
  height: 5px;
  background-color: #505050;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
}

.bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  /* display: block; */
  /* height: 5px; */
  /* width: 250px; */
  background: #ee5454;
  border-radius: 5px;
}
